* {
	box-sizing: border-box;
}

body {
	font-size: 12pt;
}

header {
	text-align: center;
	margin-bottom: 100px;
}

.imglist {
	padding: 0;
	margin: 0;
}

figure {
	margin: 0;
}

img {
    display: block;
    margin: auto;
    max-width: 80vw;
}

figcaption {
	text-align: center;
	font-size: 10pt;
	font-style: oblique;
	margin-top: 0.5em;
}

main {
	width: 80%;
	display: block;
	margin: auto;
}

main>section {
	margin: 3em 0;
	
}