html, body {
	font-size: 1em;
}

header {
	font-size: 1em;
	float: left;
	width: 15%;
	height: 100%;

}

main {
	float: right;
	width: 85%;
	height: 100%;
	overflow-y: auto;
}

.main-container {
	padding: 3em;
}

.basic-table {
	font-size: 1em;
}

/* -------------------------------------------------------------------------- */
/* NAV																																				*/
/* -------------------------------------------------------------------------- */

nav > ul {
	display: block;
}

ul.nav-main, ul.nav-user {
	float: none;
}

nav > ul > li {
	float: none;
}

nav > ul > li > * {
	display: block;
}

nav > ul:not(:last-child) {
	border-bottom: 3px solid black;
}

.nav-link {
	width: 100%;
	padding: 1em 0;
}

.nav-button {
	border-radius: 0.2em;
	width: calc(100% - 2em);
	padding: 1em;
	margin: 1em 1em;
}

/* -------------------------------------------------------------------------- */
/* HOME 																																			*/
/* -------------------------------------------------------------------------- */

div.home {
	display: flex;
	align-items: center;
}

div.home > * {
	float: left;
}

section.home-welcome {
	width: 30%;
	margin: 0 5%;
	padding: 1em;
}

section.home-welcome > *:not(:last-child) {
	margin-bottom: 3em;
}

section.home-matches {
	width: 60%;
	height: 100%;
}

/* -------------------------------------------------------------------------- */
/* LOGIN 																																			*/
/* -------------------------------------------------------------------------- */

div.login-register-container {
	max-width: 40%;
	margin: 1em auto;
}

/* -------------------------------------------------------------------------- */
/* PLAY 																																			*/
/* -------------------------------------------------------------------------- */

#chess-board-div {
	float: left;
}

div.match-sidebar {
	float: right;
	width: calc(100% - 100vmin - 2em);
	height: calc(100% - 2em);
}

div.match-controls-container {
	min-height: 9em;
}

div.match-moves-container {
	height: calc(100vh - 11em);
}

/* -------------------------------------------------------------------------- */
/* USER																																				*/
/* -------------------------------------------------------------------------- */


