* {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Ubuntu");

html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #312e2b;
	font-family: "Ubuntu", sans-serif;
	color: lightgray;
}

header {
	background-color: #272522;
	overflow: hidden;
	font-size: 0.7em;
}

main {
	position: relative;
}

ul, ol {
	list-style-type: none;
	margin: 0;
	padding: 0; 
}

button, .generic-button {
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	color: white;
	background-color: green;
	border-style: none;
	border-radius: 0.2em;
}

button:hover, .generic-button:hover {
	background-color: darkgreen;
	cursor: pointer;
}

audio {
	display: none;
}

.clickable:hover {
	cursor: pointer;
}

.selectable:hover {
	background-color: lightblue !important;
}

.scrollable {
	overflow: auto;
}

.basic-container {
	border: 3px solid #e8c791;
	border-radius: 0.2em;
	color: black;
	background-color: white;
}

.basic-table {
	width: 100%;
	text-align: center;
	color: black;
	border-collapse: collapse;
}

.basic-table td, .basic-table th {
	border: 1px solid #e8c791;
}

.basic-table th {
	background-color: #e8c791;
}

.alter-rows:nth-child(odd) {
	background-color: white;
}

.alter-rows:nth-child(even) {
	background-color: lightgray;
}

.rows-10 {
	max-height: 14em;
}

.bold-link {
	font-weight: bold;
}

/* -------------------------------------------------------------------------- */
/* NAV																																				*/
/* -------------------------------------------------------------------------- */

nav {
	overflow: hidden;
}

nav * {
	text-align: center;
}

nav > ul {
	display: inline;
}

ul.nav-main {
	float: left;
}

ul.nav-user {
	float: right;
}

nav > ul > li {
	height: 100%;
	float: left;
}

nav > ul > li > * {
	display: inline-block;
}

.nav-link {
	font-weight: bold;
	text-decoration: none;
	color: darkgray;
	text-align: center;
	padding: 1em;
}

.nav-link:hover {
	background-color: black;
	color: white;
}

.nav-button {
	padding: 1em;
	border-radius: 0;
}

/* -------------------------------------------------------------------------- */
/* FORM 																																			*/
/* -------------------------------------------------------------------------- */

form.generic-form {
	padding: 1em;
}

form.generic-form > label {
	margin-bottom: 0.2em;
}

form.generic-form > input {
	width: 100%;
	padding: 0.5em;
	margin-bottom: 1em;
	border: 1px solid darkgray;
	border-radius: 0.2em;
}

form.generic-form > input[type="submit"] {
	font-weight: bold;
	color: white;
	background-color: green;
	margin-bottom: 0;
	border: none;
}

form.generic-form > input[type="submit"]:hover {
	cursor: pointer;
	background-color: darkgreen;
}

form.generic-form > input.error-form {
	border-color: red;
}

/* -------------------------------------------------------------------------- */
/* ERRORS																																			*/
/* -------------------------------------------------------------------------- */

.error-pop-up {
	background-color: #ffeeaa;
	padding: 1em;
}

.error-pop-up-message {
	margin: 0;
	text-align: center;
	color: black;
}

.error-page {
	text-align: center;
}

/* -------------------------------------------------------------------------- */
/* HOME 																																			*/
/* -------------------------------------------------------------------------- */

div.home {
	text-align: center;
	height: 100%;
	width: 100%;
	padding: 1em;
}

section.home-welcome {
	margin-bottom: 1em;
}

section.home-welcome > * {
	display: block;
}

.home-play-button {
	font-size: 1.5em;
	text-decoration: none;
	padding: 1em 2em;
	border-radius: 0.2em;
}

section.home-matches {
	width: 100%;
	height: 100vw;
}

div.home-matches-container {
	height: calc(100% - 4em);
}

td.home-matches-index {
	width: 14%;
}

td.home-matches-user {
	width: 33%;
}

td.home-matches-links {
	width: 20%;
}

/* -------------------------------------------------------------------------- */
/* LOGIN 																																			*/
/* -------------------------------------------------------------------------- */

div.login-register-container {
	margin: 1em 1em;
	color: black;
	background-color: white;
	border: 2px solid lightgray;
	border-radius: 0.2em;
}

div.login-register-container li {
	display: inline-block;
	width: 50%;
} 

button.tab {
	display: inline-block;
	font-weight: normal;
	color: black;
	background-color: #e5e5e5;
	padding: 1em;
	width: 100%;
	border-radius: 0;
	border-bottom: 2px solid lightgray;
}

button.tab:hover {
	border-bottom: 2px solid gray;
	cursor: pointer;
}

button.tab.tab-active {
	font-weight: bold;
	background-color: white;
	border-bottom: 2px solid blue;
}

#login-tab {
	border-top-left-radius: 0.2em;
}

#register-tab {
	border-top-right-radius: 0.2em;
}

div.login-container * {
	display: block;
}

#register-form {
	display: none;
}

div.oauth-login-container {
	border-top: 3px solid lightgray;
	padding: 1em;
	font-weight: bold;
}

div.oauth-login-container > p {

	margin-top: 0;
}

a.oauth-login {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 0.4em;
	border: 2px solid lightgray;
	color: black;
	background-color: white;
}

a.oauth-login:hover {
	background-color: #e5e5e5;
}

a.oauth-login > * {
	float: left;
}

span.oauth-login-logo {
	padding: 0.5em;
	margin-right: 0.5em;	
}

span.google-logo {
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg);
}


/* -------------------------------------------------------------------------- */
/* PLAY 																																			*/
/* -------------------------------------------------------------------------- */

#alert-div {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: black;
	background-color: #ffeeaa;
	opacity: 0;
	-webkit-transition: opacity 1s ease-in;
	-o-transition: opacity 1s ease-in;
	transition: opacity 1s ease-in;
}

#alert-div.alert-div-active {
	opacity: 1;
	-webkit-transition:  opacity 0s;
	-o-transition:  opacity 0s;
	transition:  opacity 0s;
}

#alert-div.alert-div-inactive {
	z-index: -1;
}

#chess-board-div {
	width: 100vmin;
	height: 100vmin;
	margin: auto;
}

#chess-board {
	text-align: center;
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	margin: auto;
}

#chess-board > tr > th {
	color: darkgray;
	font-weight: bold;
	width: 4%;
	height: 4%;
}

#chess-board > tr > td {
	width: 11%;
	height: 11%;
	padding: 0;
	border: solid black 2px;
	position: relative;
	background-clip: padding-box;
}

#chess-board > tr > td > img {
	width: 90%;
	margin-left: 5%;
	display: block;
}

#chess-board > tr:nth-child(even) > td:nth-child(odd),
#chess-board > tr:nth-child(odd) > td:nth-child(even) {
	background-color: #e8c791;
}

#chess-board > tr:nth-child(2n) > td:nth-child(2n),
#chess-board > tr:nth-child(2n+1) > td:nth-child(2n+1) {
	background-color: #64170f;
}

#chess-board > tr > td::after {
	content: "";
	width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(173, 216, 230, 0.5);
  opacity: 0;
}

#chess-board > tr > td:hover::after {
	opacity: 1;
}

#chess-board > tr > td.chess-piece-last-move {
	background-color: lightgreen !important;
}

#chess-board > tr > td.chess-piece-selected {
	background-color: lightblue !important;
}

div.match-sidebar {
	width: calc(100% - 2em);
	margin: 1em;
	color: black;
}

div.match-controls-container {
	display: flex;
	align-items: center;
	text-align: center;
	font-weight: bold;
	background-color: #e8c791;
	border-top-left-radius: 0.2em;
	border-top-right-radius: 0.2em;
}

div.match-controls-container > * {
	width: 50%;
	float: left;
}

div.match-status-container {
	padding: 1em;
}

div.match-status-container > p {
	margin: 0;
}

div.match-status-container > p:not(:last-child) {
	margin-bottom: 1em;
}

[class|=match-player] {
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	padding-right: 1em;
}

.match-player-white {
	background-image: url("/img/pieces/pawnw.svg");
}

.match-player-black {
	background-image: url("/img/pieces/pawnb.svg");	
}

button.match-concede {
	padding: 1em;
	background-color: #64170f;
}

button.match-concede:hover {
	background-color: #420000;
}

div.match-moves-container {
	height: 12em;
	overflow-y: scroll;
	border-bottom-right-radius: 0.2em;
	border-bottom-left-radius: 0.2em;
	background-color: white;
}

#match-moves-list {
	height: 100%;
	text-align: center;
}

#match-moves-list > li {
	display: table;
	width: 100%;
}

#match-moves-list > li > p {
	display: table-cell;
	margin: 0;
	padding: 0.5em;
	border: 1px solid lightgray;
}

.match-moves-index {
	width: 14%;
	background-color: lightgray;
}

.match-moves-move {
	width: 48%;
}

/* -------------------------------------------------------------------------- */
/* USER																																				*/
/* -------------------------------------------------------------------------- */

div.user-profile-container {
	padding: 1em;
}

section.user-profile h2 {
	margin-top: 0;
}

section.user-profile p {
	margin: 0.5em 0;
}

/* -------------------------------------------------------------------------- */
/* REPLAY																																			*/
/* -------------------------------------------------------------------------- */

p.checkers-player-status {
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

div.checkers-player-nav {
	height: 10%;
}

p.checkers-player-nav {
	text-align: center;
}

button.checkers-player-nav-btn {
	width: 25%;
	margin: 0 2%;
}